20) 30.10.2019/IdentityExample/InventoryMvc/Inventory.Mvc/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Inventory.WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Inventory.WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58416/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfPersonDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonDataContract" nillable="true" type="tns:PersonDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonDataContract" nillable="true" type="tns:ArrayOfPersonDataContract" />
  <xs:complexType name="PersonDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfJoining" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsRegistered" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonID" type="ser:guid" />
      <xs:element minOccurs="0" name="PersonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDataContract" nillable="true" type="tns:PersonDataContract" />
</xs:schema>